.hero {
    background-image: url("https://cdn.chec.io/merchants/55563/assets/hC9r4BDoxnPFsmaF|Free_Sample_By_Wix.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    position: relative;
    height: 60rem;

    img {
        padding: 5px 5px;
        cursor: pointer;
    }

    &__text {
        color: $text-primary;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        text-align: left;


        h1 {

            font-weight: bold;
            font-size: 60px;
            align-self: center;

        }
    }

    .btn {
        display: block;
        text-align: center;
        background: $color-accent;
        padding: 9px;
        color: white;
        border-radius: 18px;
        text-transform: uppercase;
        font-weight: 300;
        font-size: x-large;

        &:hover {
            background: darken($color-accent, 8%);
            transition: all 0.3s ease;
        }

        &:active {
            background: darken($color-accent, 25%);
        }
    }
}